<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trip</title>
  </head>
  <x-main>
    <div class="w-full p-0 m-0">
      <table
        class="px-1 w-full lg:w-2/3 lg:mx-auto lg:px-0 lg:border lg:border-black"
      >
        <thead class="">
          <td
            colspan="2"
            class="text-3xl bg-[#778C67] h-20 text-center text-white"
          >
            登山網站
          </td>
        </thead>
        <tr class="flex flex-col w-5/6 mx-auto my-12 lg:w-2/3">
          <td class="font-black text-2xl">陳先生，謝謝</td>
          <td class="font-black text-2xl">您在登山網站的訂單已匯款成功。</td>
        </tr>
        <tr class="flex flex-col w-5/6 mx-auto">
          <td class="text-[#424242] font-bold text-2xl">訂單詳細資訊</td>
        </tr>
        <tr class="">
          <td class="border border-solid border-[#778C67] rounded-md mt-4">
            <table>
              <tr class="flex items-center text-center my-1 px-1">
                <td class="text-[#424242] font-black text-center">繳費編號</td>
                <td colspan="2" class="text-[#424242] text-sm bg-red-300">
                  808080080808
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </div>
  </x-main>
</html>
