<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trip</title>
  </head>
  <x-main>
    <div
      class="w-full lg:w-2/3 lg:mx-auto lg:px-0 lg:border-x lg:h-full max-w-[1000px]"
    >
      <table class="bg-[#778C67] w-full lg:w-2/3 lg:mx-auto">
        <td class="text-3xl h-20 text-center text-white">登山網站</td>
      </table>
      <table class="w-full py-12 lg:w-2/3 lg:mx-auto border-x">
        <tr class="w-5/6 lg:w-2/3">
          <td class="font-black text-2xl px-[10%]">陳先生，謝謝</td>
        </tr>
        <tr>
          <td class="font-black text-2xl px-[10%]">
            您在登山網站的訂單已匯款成功。
          </td>
        </tr>
      </table>
      <table class="w-full py-2 lg:w-2/3 lg:mx-auto">
        <tr>
          <td class="text-[#424242] font-bold text-2xl w-5/6 mx-auto pl-[10%]">
            訂單詳細資訊
          </td>
        </tr>
      </table>
      <table
        class="w-[90%] border border-solid border-[#778C67] rounded-md py-4 lg:w-2/3 lg:mx-auto"
        align="center"
      >
        <tr>
          <td
            class="text-[#424242] font-black text-center py-1 md:w-1/5 lg:w-[28%]"
          >
            繳費編號
          </td>
          <td class="text-[#424242] text-sm">808080080808</td>
        </tr>
        <tr>
          <td class="text-[#424242] font-black text-center py-1">商品明細</td>
          <td class="text-[#424242] text-sm truncate max-w-[120px] pr-1">
            舊好茶部落巡禮、正式會員舊好茶部落巡禮、正式會員舊好茶部落巡禮、正式會員舊好茶部落巡禮、正式會員舊好茶部落巡禮、正式會員舊好茶部落巡禮、正式會員
          </td>
        </tr>
        <tr>
          <td class="text-[#424242] font-black text-center py-1">繳費日期</td>
          <td class="text-[#424242] text-sm">2023 / 3 / 10</td>
        </tr>
        <tr>
          <td class="text-[#424242] font-black text-center py-1">付款金額</td>
          <td class="text-[#424242] text-sm">TWD 3,000</td>
        </tr>
        <tr>
          <td class="text-[#424242] font-black text-center py-1">繳費狀態</td>
          <td class="text-[#424242] text-sm">已繳費</td>
        </tr>
      </table>
      <table class="w-full pt-12 py-2 lg:w-2/3 lg:mx-auto">
        <tr>
          <td class="text-[#424242] font-bold text-2xl w-5/6 mx-auto pl-[10%]">
            行程明細
          </td>
        </tr>
      </table>
      <table
        class="w-[90%] border border-solid border-[#778C67] rounded-md py-4 lg:w-2/3 lg:mx-auto"
        align="center"
      >
        <tr>
          <td
            class="text-[#424242] font-black text-center px-2 py-1 md:w-1/6 lg:w-[28%]"
          >
            活動名稱
          </td>
          <td class="text-[#424242] text-sm max-w-[120px] pr-2 py-1 truncate">
            舊好茶部落巡禮、正式會員舊好茶部落巡禮、正式會員舊好茶部落巡禮、正式會員舊好茶部落巡禮、正式會員舊好茶部落巡禮、正式會員舊好茶部落巡禮、正式會員
          </td>
        </tr>
        <tr>
          <td class="text-[#424242] font-black text-center px-2 py-1 md:w-1/5">
            活動日期
          </td>
          <td class="text-[#424242] text-sm truncate max-w-[120px] pr-1">
            2023 / 3 / 25 (六) - 3 / 27(一）
          </td>
        </tr>
        <tr>
          <td
            class="text-[#424242] font-black text-center px-2 py-1"
            style="word-spacing: 1.6rem"
          >
            類&#32; 型
          </td>
          <td class="text-[#424242] text-sm">百岳</td>
        </tr>
        <tr>
          <td
            class="text-[#424242] font-black text-center px-2 py-1"
            style="word-spacing: 1.6rem"
          >
            等&#32; 級
          </td>
          <td class="text-[#424242] text-sm">大眾路線（入門）</td>
        </tr>
        <tr>
          <td class="text-[#424242] font-black text-center px-2 py-1">
            集合地點
          </td>
          <td class="text-[#424242] text-sm">三重捷運站2號出口</td>
        </tr>
        <tr>
          <td class="text-[#424242] font-black text-center px-2 py-1">
            集合時間
          </td>
          <td class="text-[#424242] text-sm">3/25 (六) 9:00</td>
        </tr>
        <tr>
          <td class="text-[#424242] font-black text-center px-2 py-1">
            交通方式
          </td>
          <td class="text-[#424242] text-sm">專車</td>
        </tr>
        <tr>
          <td
            class="text-[#424242] font-black text-center px-2 py-1"
            style="word-spacing: 1.6rem"
          >
            領&#32; 隊
          </td>
          <td class="text-[#424242] text-sm">林麗英</td>
        </tr>
        <tr>
          <td
            class="text-[#424242] font-black text-center px-2 py-1"
            style="word-spacing: 1.6rem"
          >
            嚮&#32; 導
          </td>
          <td class="text-[#424242] text-sm">林麗英、林麗英、林麗英</td>
        </tr>
        <tr>
          <td colspan="2" class="w-full pt-4" align="center">
            <div class="flex items-center pl-[10%] lg:pl-[20%]">
              <img
                src="https://firebasestorage.googleapis.com/v0/b/wa-project-mountain.appspot.com/o/qrcode.png?alt=media&token=e6a0303b-4b95-4fdf-91d9-1ada34d65bde"
                alt="qrcode"
                class="w-24 h-24"
              />
              <div class="md:w-1/3 px-2 w-1/2 text-justify">
                恭喜！你已成功報名，請掃左側QR code
                或點此加入活動群組，以便即時通知集合資訊！
              </div>
            </div>
          </td>
        </tr>
      </table>
      <table>
        <td class="py-12"></td>
      </table>
      <table class="pt-12 bg-[#998167] w-full lg:w-2/3 lg:mx-auto">
        <tr>
          <td class="pl-[10%]">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/wa-project-mountain.appspot.com/o/facebook.png?alt=media&token=c2534c95-6247-4952-9629-bce8586c9498"
              width="32"
              alt="facebook"
            />
          </td>
        </tr>
        <tr>
          <td class="pt-2 pb-1 pl-[9%] font-medium text-white">
            新北市山岳協會
          </td>
        </tr>
        <tr class="flex justify-center">
          <td class="h-[1px] bg-white w-[82%]"></td>
        </tr>
        <tr>
          <td class="pt-2 pb-[2px] font-medium text-white text-sm pl-[9%]">
            辦公時間｜每星期二、四晚上7:00-9:00
          </td>
        </tr>
        <tr>
          <td class="pb-[2px] font-medium text-white text-sm pl-[9%]">
            郵政信箱｜22099 新北市板橋郵政52號信箱
          </td>
        </tr>
        <tr>
          <td class="pb-12 font-medium text-white text-sm pl-[9%] pr-[7%]">
            地址｜新北市板橋區陽明街76號5樓（離捷運新埔站 5 分鐘路程）
          </td>
        </tr>
        <tr>
          <td class="pb-[2px] font-medium text-white text-sm px-[9%]">
            Email｜services@thma.org.tw
          </td>
        </tr>
        <tr>
          <td class="pb-[2px] font-medium text-white text-sm px-[9%]">
            電話｜02-22500059、22501129、22501126
          </td>
        </tr>
        <tr>
          <td class="pb-[2px] font-medium text-white text-sm px-[9%]">
            留守專機｜0919-309020、0919-309039
          </td>
        </tr>
        <tr>
          <td class="pb-4 font-medium text-white text-sm px-[9%]">
            傳真｜02-22502159
          </td>
        </tr>
      </table>
    </div>
  </x-main>
</html>
